body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ecf5ed;
  color: #5a9d2d;
  position: relative;
}

form {
  background-color: #d0e1ca;
  display: inline-block;
  padding: 30px;
  border-radius: 5px;
}
form label {
  display: block;
}
form input[type=email], form input[type=password] {
  display: block;
  margin: 0 0 20px;
  height: 25px;
  min-width: 300px;
  border: none;
  border-radius: 5px;
}
form input[type=checkbox] {
  display: inline-block;
  margin: 0 10px 0 0;
}
form .d-flex {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
}

#result {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
}

.list {
  width: 50%;
  margin-left: 25%;
}
.list__item {
  display: none;
}
.list__item--name {
  font-size: 32px;
}
.list__item--year, .list__item--height {
  display: block;
}
.list .ativo {
  display: block;
}

.numeration {
  list-style: none;
}
.numeration__item {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
